body {
	margin: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cards {
	width: 400px;
	height: 250px;
	margin: 0 auto;
	padding: 25px 20px;
	border-radius: 10px;
	background: #faf3dd;
	color: #2b2839;
	border-top: 6px dotted #ffa69e;
	border-bottom: 6px dotted #ffa69e;
	font-size: 15px;
	display: inline-flex;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: end;
	font-size: 10px;
}

#ramen-img {
	background-image: url("images/ramen.webp");
	width: 150px;
	height: 150px;
	border-radius: 50%;

}

.socials {
	width: 50px;
	display: flex;
	flex-direction: row;


}